{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Contact us {% endblock %}
{% block content %}

<div class="row container-fluid">
<div class="col-sm-12">
</div>
</div>
<body style="background-color:#A52A2A">
<div class="col-sm-12">

    <h1 >
        <p align="center" style=""> Contact </p>

</h1>
    </div>
<div class="col-sm-6" div class="container" >

    <p align="right" style="color:white">   We provides the best services to the community</p>

    <p align="right" style="color:white">  Please contact us on this number : 0701280731<p>

    <p align="right" style="color:white"> Email us now : florencenamukwaya@gmail.com</p>

    </div>

<div class="">
 <img src="\static\anigif90.gif" align="left-top"  width="800" height="700"  >
    </div>
</div>
     </div>
</body>
{% endblock %}
